In [1]:
import os
os.environ['DB_DATA_SCIENCE_NAME']='data_science'
os.environ['DB_DATA_SCIENCE_USER']='aida'
os.environ['DB_DATA_SCIENCE_HOST']='172.25.28.117'
os.environ['DB_DATA_SCIENCE_PASS']='eCWKTgBWdoJdpY6tZoLqpatc'
os.environ['ESHOP_ENDPOINT'] = "http://shop-ws-itg.aida.de/eshop/cxfservices/webserviceSearch"

In [2]:
import psycopg2
class Connections(object):
    def __init__(self):
        print('Connections:before decrypt')
        # decrypt()
        print('Connections:after decrypt')
        print(os.environ['DB_DATA_SCIENCE_NAME'])
        print(os.environ['DB_DATA_SCIENCE_USER'])
        print(os.environ['DB_DATA_SCIENCE_HOST'])
        # import socket
        # sock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
        # result = sock.connect_ex((os.environ['DB_DATA_SCIENCE_HOST'],5432))
        # if result == 0:
        #    print("Port is open")
        # else:
        #    print("Port is not open")
        self.aws_ds_postgre_connect = psycopg2.connect(
            database=os.environ['DB_DATA_SCIENCE_NAME'],
            user=os.environ['DB_DATA_SCIENCE_USER'],
            password=os.environ['DB_DATA_SCIENCE_PASS'],
            host=os.environ['DB_DATA_SCIENCE_HOST'],
            port=5432)

In [4]:
def startConnection():
    connection = Connections()
    return connection

connection=startConnection()

Connections:before decrypt
Connections:after decrypt
data_science
aida
172.25.28.117

In [5]:
import pandas as pd
query="select * from excursion_recommendation.cohort_recommender where count>100"
df = pd.read_sql(query, con=connection.aws_ds_postgre_connect)

In [6]:
df.shape

(12695, 8)

In [7]:
a=df.set_index(['city','gender'])

In [9]:
a.shape

(12695, 6)

In [11]:
df.head()

,index,city,gender,age,country,dal_shex_id,count,article_code
0,442718,large,m,youth,germany,2969,172,CIV01
1,442721,large,m,youth,germany,2972,114,CIV03
2,442722,large,m,youth,germany,2973,118,CIV33
3,442911,large,m,youth,germany,3167,144,DOV04
4,443444,large,m,youth,germany,3732,137,LEH02